* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.row {
  margin-right: 0;
}

.pageBody {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
}

.pageBodyRow {
  height: 100%;
}

.pageBodyCol {
  margin-bottom: 80px;
}

.bodyContainer {
  width: 100vw;
  position: absolute;
}

.homeBody {
  height: 100vh;
}

.navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: #333333;
}

.contentContainer {
  display: block;
  clear: both;
}

.homeHeader {
  text-align: center;
  color: #222222;
  font-family: 'Raleway', sans-serif;
}

.tagline {
  color: #222222;
}

.cvimg {
  width: 100%;
}

.pageHeader {
  text-align: center;
  margin-bottom: 45px;
  color: #222222;
  font-family: 'Raleway', sans-serif;
}

.description {
  color: #eeeeee;
}

.descriptionHeader {
  color: #eeeeee;
  font-family: 'Raleway', sans-serif;
}

.float-wrap {
  width: 1700px;
  padding: 12px 0px;
  overflow: auto;
}

.left-floater {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.img-link {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}

.img-link:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:translatZ(0) scale(1.05); /* Opera */
    transform:translatZ(0) scale(1.05);
}

.outer {
  overflow-x: scroll;
}

.img-link {
  position: relative;
  float: left;
  width: 400px;
  height: 260.225px;
  margin: 0 10px;
}

.opaque {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222222;
}

.opaque-label {
  display: none;
  position: absolute;
  opacity: 1;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
  font-size: 34pt;
  font-family: 'Raleway', sans-serif;
}

.img-link:hover .opaque {
  display: block;
  opacity: .8;
}

.img-link:hover .opaque-label {
  display: block;
}

.contactImageRow {
  margin: 0 25%;
}

.contactInfoItem {
  text-align: center;
}

.fa {
  color: #ffffff;
  margin-top: 7px;
}

.contactImage {
  width: 60px;
  height: 60px;
}

#img-one {
  margin-left: 0;
}

#scroll::-webkit-scrollbar {
  background-color: #222222;
  height: 3px;
}

#scroll::-webkit-scrollbar-corner {
}

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238,238,238,0.8);
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #444444;
}
