* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.row {
  margin-right: 0;
}

.pageBody {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
}

.pageBodyRow {
  height: 100%;
}

.pageBodyCol {
  margin-bottom: 80px;
}

html::-webkit-scrollbar {
  background-color: #dddddd;
  width: 8px;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238,238,238,0.8);
}

html::-webkit-scrollbar-thumb {
  background-color: #444444;
}

.bodyContainer {
  width: 100vw;
  position: absolute;
}

.homeBody {
  height: 100vh;
}

.navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navText {
  color: #eeeeee;
}

.nav-link {
  color: #eeeeee;
}

.navbar-toggler:focus {
  outline: 0;
}

.navText:hover {
  color: #71cdd8;
}

.iconContainer {
  position: relative;
  margin: 0 0 3px 0;
}

.logoImg {
  position: absolute;
}

.logoText {
  position: relative;
  top: .5px;
  left: 50px;
}

.navHeader {
  color: #eeeeee;
  font-size: 14pt;
  margin: 0;
  letter-spacing: 2.2px;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #121212;
}

.navHeadDescrip {
  color: #eeeeee;
  font-size: 8pt;
  margin: 0;
}

.contentContainer {
  display: block;
  clear: both;
}

.homeHeader {
  background: url('./assets/TreeHorizontalNoSides.png');
  background-size: 100% 100%;
  height: 250px;
  text-align: center;
  color: #eeeeee;
  font-family: 'Supermercado One', sans-serif;
  width: 60%;
  margin: 20px auto;
  padding: 97px 0 0 0;
  font-size: 34pt;
}

.tagline {
  color: #eeeeee;
  font-size: 16pt;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.cvimg {
  width: 100%;
}

.pageHeader {
  text-align: center;
  margin-bottom: 45px;
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

.profilePicture {
  margin: 10px 0 0 5px;
  border-radius: 150px;
}

.description {
  color: #eeeeee;
}

.descriptionHeader {
  color: #eeeeee;
  font-family: 'Raleway', sans-serif;
}

.modal-content {
  width: 534px;
  position: absolute;
}

.modal-body {
  height: 500px;
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
  background-color: #dddddd;
  width: 5px;
}

.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238,238,238,0.8);
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #444444;
}

.float-wrap {
  width: 1700px;
  padding: 12px 0px;
  overflow: auto;
}

.left-floater {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.img-link {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}

.img-link:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:translatZ(0) scale(1.05); /* Opera */
    transform:translatZ(0) scale(1.05);
}

.outer {
  overflow-x: scroll;
}

.img-link {
  position: relative;
  float: left;
  width: 400px;
  height: 260.225px;
  margin: 0 10px;
}

.opaque {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222222;
}

.opaque-label {
  display: none;
  position: absolute;
  opacity: 1;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
  font-size: 34pt;
  font-family: 'Raleway', sans-serif;
}

.img-link:hover .opaque {
  display: block;
  opacity: .8;
}

.img-link:hover .opaque-label {
  display: block;
}

.contactImageRow {
  margin: 0 25%;
}

.contactInfoItem {
  text-align: center;
}

.fa {
  color: #ffffff;
  margin-top: 7px;
}

.contactImage {
  width: 60px;
  height: 60px;
}

#img-one {
  margin-left: 0;
}

#scroll::-webkit-scrollbar {
  background-color: #dddddd;
  height: 5px;
}

#scroll::-webkit-scrollbar-corner {
}

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238,238,238,0.8);
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #444444;
}

@media screen and (max-width: 1200px) {
  .homeHeader {
    background: url('./assets/TreeHorizontal1200.png');
    background-size: 100% 100%;
    height: 230px;
    text-align: center;
    color: #eeeeee;
    font-family: 'Supermercado One', sans-serif;
    width: 60%;
    margin: 0 auto;
    padding: 97px 0 0 0;
    font-size: 26pt;
  }
}

@media screen and (max-width: 993px) {
  .homeHeader {
    background: url('./assets/TreeHorizontal992.png');
    background-size: 100% 100%;
    height: 180px;
    text-align: center;
    color: #eeeeee;
    font-family: 'Supermercado One', sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 72px 0 0 0;
    font-size: 26pt;
  }
  .opaque-label {
    font-size: 20pt;
  }
}

@media screen and (max-width: 769px) {
  .homeHeader {
    background: url('./assets/TreeHorizontal992.png');
    background-size: 100% 100%;
    height: 150px;
    text-align: center;
    color: #eeeeee;
    font-family: 'Supermercado One', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 56px 0 0 0;
    font-size: 26pt;
  }
  .pageHeader {
    margin: 45px 0 10px 0;
  }
  .contactImageRow {
    margin-top: 10px;
  }
}

@media screen and (max-width: 595px) {
  .descriptionHeader {
    font-size: 16pt;
  }
  .pageHeader {
    font-size: 18pt;
    margin: 45px 0 20px 15px;
  }
  .description {
    font-size: 12pt;
  }
  .tagline {
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) {
  .tagline {
    font-size: 14pt;
  }
}

@media screen and (max-width: 450px) {
  .description {
    font-size: 10pt;
  }
  .contactImageRow {
    margin: 0 9%;
  }
  .img-link, .img-fluid {
    width: 316px;
  }
  .img-link {
    height: 206px;
  }
  .homeHeader {
    padding: 59px 0 0 0;
    font-size: 22pt;
  }
  .tagline {
    font-size: 12pt;
  }
}
